/* 1. Import Font Inter dan Montserrat dari Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 2. Import seluruh gaya bawaan Tailwind CSS */
@import "tailwindcss";

/* 3. Memperkecil base font-size menjadi 12px (75% dari 16px standar browser) 
      agar ukuran form sesuai dengan desain di PDF */
html {
  font-size: 75%;
}

/* 4. Konfigurasi Tema (Warna dan Font) khusus Tailwind v4 */
@theme {
  /* Pengaturan Font Family */
  --font-body: "Inter", sans-serif;
  --font-poppins: "Montserrat", sans-serif;

  /* Pengaturan Custom Colors dari Design System Figma */
  --color-primary: #299d91;
  --color-secondary: #525256;
  --color-defaultBlack: #191919;
  --color-gray-01: #666666;
  --color-gray-02: #878787;
  --color-gray-03: #9f9f9f;
  --color-gray-05: #e8e8e8;
  --color-gray-06: #f3f3f3;
  --color-special-bg: rgba(210, 210, 210, 0.25);
  --color-special-bg2: rgba(255, 255, 255, 0.7);
  --color-special-bg3: rgba(255, 255, 255, 0.08);
  --color-special-mainBg: #f4f5f7;
  --color-special-green: #4daf6e;
  --color-special-red: #e73d1c;
}